{% extends 'portal/assets/base.html' %}

{% block title %}Manage Application{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="col-12 col-md-6">
      {% include 'portal/assets/message.html' %}
      <div class="card shadow mb-4">
        <div class="card-header">
          <strong class="card-title">Application Details</strong>
        </div>
        <form action="{% url 'core:university' %}" method="post">
          {% csrf_token %}
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="form-group mb-2">
                  <strong class="card-title">Agent :</strong>
                  <span>
                    <a href="{% url 'core:profile_manage' application.user.id %}">
                      {{application.user.first_name}} {{application.user.last_name}}
                    </a>
                  </span>
                </div>
                <div class="form-group mb-2">
                    <strong class="card-title">Student Name :</strong>
                    <span>{{application.first_name}} {{application.last_name}}</span>
                </div>
                <div class="form-group mb-2">
                    <strong class="card-title">Passport Number :</strong>
                    <span>{{application.passport_number}}</span>
                </div>
                <div class="form-group mb-2">
                    <strong class="card-title">Date of Birth :</strong>
                    <span>{{application.dob}}</span>
                </div>
                <div class="form-group mb-2">
                  <strong class="card-title">University :</strong>
                  <span>{{application.subject.university.name}}</span>
                </div>
                <div class="form-group mb-2">
                  <strong class="card-title">Program :</strong>
                  <span>{{application.subject.program_type}}</span>
                </div>
                <div class="form-group mb-2">
                    <strong class="card-title">Subject :</strong>
                    <span>
                      <a href="{% url 'core:program_details' application.subject.id %}">
                        {{application.subject.name}}
                      </a>
                    </span>
                </div>
                <div class="form-group mb-2">
                  <strong class="card-title">Overall Status :</strong>
                  <span>
                    {% if application.status == 'PENDING' %}
                      <span class="badge badge-warning text-light">{{ application.status }}</span>
                    {% elif application.status == 'PROCESSING' %}
                        <span class="badge badge-primary text-light">{{ application.status }}</span>
                    {% elif application.status == 'COMPLETE' %}
                        <span class="badge badge-success text-light">{{ application.status }}</span>
                    {% elif application.status == 'REJECT' %}
                        <span class="badge badge-danger text-light">{{ application.status }}</span>
                    {% endif %}
                  </span>
              </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card shadow mb-4">
          <div class="card-header">
            <strong class="card-title">Add Status</strong>
          </div>
          <form action="{% url 'core:admin_manage_status' application.id %}" method="post">
            {% csrf_token %}
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group mb-3">
                    <label for="simpleinput">Overall Status</label>
                    <select name="overall_status" class="form-control" id="">
                      <option value="PENDING" {% if application.status == 'PENDING' %} selected {% endif %}>Pending</option>
                      <option value="PROCESSING" {% if application.status == 'PROCESSING' %} selected {% endif %}>Processing</option>
                      <option value="REJECT" {% if application.status == 'REJECT' %} selected {% endif %}>Reject</option>
                      <option value="COMPLETE" {% if application.status == 'COMPLETE' %} selected {% endif %}>Complete</option>
                    </select>
                  </div>
                  <div class="form-group mb-3">
                    <label for="simpleinput">Status</label>
                    <input type="text" name="status" id="simpleinput" class="form-control">
                  </div>
                  <div class="form-group mb-3">
                    <label for="simpleinput">Remark</label>
                    <input type="text" name="remark" id="simpleinput" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success text-light">Add Status</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-12 col-md-1-">
      <h6 class="mb-3">Progress History</h6>
      <table class="table table-borderless table-striped">
        <thead>
          <tr role="row">
            <th>Date</th>
            <th>Status</th>
            <th>Remark</th>
          </tr>
        </thead>
        <tbody>
          {% for status in statuses %}
          <tr>
            <th scope="col">{{status.date}}</th>
            <td>{{status.status}}</td>
            <td>{{status.remark}}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div> 
  </div> 

</div>

{% endblock %}