{% extends 'portal/assets/base.html' %}

{% block title %}Make Application{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="col-12 col-md-12">
      <h2 class="page-title">Make Applicaiton</h2>
      {% include 'portal/assets/message.html' %}
      <div class="card shadow mb-4">
        <div class="card-header">
          <strong class="card-title">Student Application</strong>
        </div>
        <form action="{% url 'core:application' %}" method="post">
          {% csrf_token %}
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group mb-3">
                  <label for="simpleinput">First Name</label>
                  <input type="text" name="first_name" id="simpleinput" class="form-control">
                </div>
                <div class="form-group mb-3">
                  <label for="simpleinput">Passport Number</label>
                  <input type="text" name="passport_number" id="simpleinput" class="form-control">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group mb-3">
                  <label for="simpleinput">Last Name</label>
                  <input type="text" name="last_name" id="simpleinput" class="form-control">
                </div>
                <div class="form-group mb-3">
                  <label for="simpleinput">Date of Birth</label>
                  <input type="date" name="dob" id="simpleinput" class="form-control">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group mb-3">
                  <label for="simpleinput">University</label>
                  <select name="university" id="" class="form-control">
                    <option value="">Select University</option>
                    {% for university in universitys %}
                      <option value="{{university.id}}">{{university.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="simpleinput">Subject</label>
                  <input type="text" name="subject" id="simpleinput" class="form-control">
                </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group mb-3">
                <label for="simpleinput">Program</label>
                <select name="program" id="" class="form-control">
                  <option value="">Select Program</option>
                  <option value="FOUNDATION">FOUNDATION</option>
                  <option value="DIPLOMA">DIPLOMA</option>
                  <option value="BACHELOR">BACHELOR</option>
                  <option value="MASTER">MASTER</option>
                  <option value="PHD">PHD</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary text-light">Apply Now</button>
              </div>
            </div>
            </div>
          </div>
        </form>
      </div>

      <div class="card">
        <div class="card-body">
          <table class="table table-borderless table-striped">
            <thead>
              <tr role="row">
                <th>Name</th>
                <th>Passport Number</th>
                <th>Date of Birth</th>
                <th>University</th>
                <th>Program</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Actioin</th>
              </tr>
            </thead>
            <tbody>
              {% for applicant in applicaitons %}
              <tr>
                <th scope="col">{{applicant.first_name}} {{applicant.last_name}}</th>
                <td>{{applicant.passport_number}}</td>
                <td>{{applicant.dob}}</td>
                <td>{{applicant.university}}</td>
                <td>{{applicant.program}}</td>
                <td>{{applicant.subject}}</td>
                <td>
                  {% if applicant.status == 'PENDING' %}
                      <span class="badge badge-warning text-light">{{ applicant.status }}</span>
                  {% elif applicant.status == 'PROCESSING' %}
                      <span class="badge badge-primary text-light">{{ applicant.status }}</span>
                  {% elif applicant.status == 'COMPLETE' %}
                      <span class="badge badge-success text-light">{{ applicant.status }}</span>
                  {% elif applicant.status == 'REJECT' %}
                      <span class="badge badge-danger text-light">{{ applicant.status }}</span>
                  {% endif %}
                </td>
              
                <td>
                  <a href="{% url 'core:application_status' applicant.id %}">
                    <button class="btn btn-success text-light" type="button">View Status</button>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}