{% extends 'portal/assets/base.html' %}

{% block title %}Payment Request{% endblock %}

{% block css %}
<style>
  
</style>
{% endblock %}

{% block content %}
{% if user_type != 'Admin' %}
<div class="container-fluid">
    <div class="row justify-content-start">
        <div class="col-12 col-md-12">
            <h2 class="page-title">Payment Request</h2>
            {% include 'portal/assets/message.html' %}
            
            <div class="row">
              <div class="col-md-12 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true">New Invoice</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#claimed" role="tab" aria-controls="claimed" aria-selected="false">Claimed Invoice</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#approved" role="tab" aria-controls="approved" aria-selected="false">Approved Invoice</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#reject" role="tab" aria-controls="reject" aria-selected="false">Reject Invoice</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#paid" role="tab" aria-controls="paid" aria-selected="false">Paid Invoice</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="home-tab"> 
                        <form action="{% url 'core:payment_request' %}" id="applicationForm" method="post">
                          {% csrf_token %}
                          <input type="hidden" value="{{user.id}}" name="agent" />
                            <div class="row">
                              <div class="col-12 col-md-4">
                                <div class="form-group mb-3">
                                  <label for="simpleinput">Agent Code</label>
                                  <input type="text" disabled value="{{user.referral_code}}" id="simpleinput" class="form-control">
                                </div>
                              </div>
                              <div class="col-12 col-md-4">
                                <div class="form-group mb-3">
                                  <label for="simpleinput">Name</label>
                                  <input type="text" disabled value="{{user.first_name}} {{user.last_name}}" id="simpleinput" class="form-control">
                                </div>
                              </div>
                              <div class="col-12 col-md-4">
                                <div class="form-group mb-3">
                                  <label for="simpleinput">Address</label>
                                  <input type="text" disabled value="{{user.address}}" id="simpleinput" class="form-control">
                                </div>
                              </div>
                              <div class="col-12 col-md-4">
                                <div class="form-group mb-3">
                                  <label for="simpleinput">Agreed Commission</label>
                                  <input type="number" name="agreed_commission" id="simpleinput" class="form-control">
                                </div>
                              </div>
                              <div class="col-12 col-md-4">
                                <div class="form-group mb-3">
                                  <label for="simpleinput">Currency</label>
                                  <select name="currency" id="" class="form-control">
                                    <option value="">Choose Currency</option>
                                    <option value="MYR">MYR</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-12 col-md-4">
                                <div class="form-group mb-3">
                                  <label for="simpleinput">Comment</label>
                                  <textarea name="comment" class="form-control" id="" cols="30" rows="5"></textarea>
                                </div>
                              </div>
                            </div>

                            <div class="col-12 mb-4">
                              <div class="card">
                                <div class="card-body py-4 mb-1">
                                  <h6 class="card-title">Bank Information</h6>

                                  <div class="row">
                                    <div class="col-12 col-md-6">
                                      <div class="form-group mb-3">
                                        <label for="simpleinput">Account Holder Name : </label>
                                        <input type="text" name="account_holder_name" id="simpleinput" class="form-control">
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                      <div class="form-group mb-3">
                                        <label for="simpleinput">Bank Name : </label>
                                        <input type="text" name="bank_name" id="simpleinput" class="form-control">
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                      <div class="form-group mb-3">
                                        <label for="simpleinput">Account Number : </label>
                                        <input type="text" name="account_number" id="simpleinput" class="form-control">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-3">
                                      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Local</a>
                                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Foreign</a>
                                      </div>
                                    </div>
                                    <div class="col-9">
                                      <div class="tab-content mb-4" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                          
                                        </div>
                                        <div class="tab-pane fade mb-4" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"> 
                                          <div class="row">
                                            <div class="col-12 col-md-6">
                                              <div class="form-group mb-3">
                                                <label for="simpleinput">Country Name : </label>
                                                <input type="text" name="country" id="simpleinput" class="form-control">
                                              </div>
                                            </div>
                                            <div class="col-12">
                                              <div class="form-group mb-3">
                                                <label for="simpleinput">Payee Address : </label>
                                                <textarea name="payee_address" class="form-control" id="" cols="30" rows="2"></textarea>
                                              </div>
                                            </div>
                                            <div class="col-12">
                                              <div class="form-group mb-3">
                                                <label for="simpleinput">Bank Address : </label>
                                                <textarea name="bank_address" class="form-control" id="" cols="30" rows="2"></textarea>
                                              </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                              <div class="form-group mb-3">
                                                <label for="simpleinput">SWIFT Code : </label>
                                                <input type="text" name="swift_code" id="simpleinput" class="form-control">
                                              </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                              <div class="form-group mb-3">
                                                <label for="simpleinput">IFSC Code : </label>
                                                <input type="text" name="ifsc_code" id="simpleinput" class="form-control">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <table class="table table-borderless table-striped">
                              <thead>
                                <tr role="row">
                                  <td>
                                    
                                  </td>
                                  <th>Name</th>
                                  <th>Passport Number</th>
                                  <th>Date of Birth</th>
                                  <th>Program</th>
                                  <th>Subject</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for applicant in applications %}
                                  <tr>
                                    <td>
                                      <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="application_ids" value="{{applicant.id}}" class="custom-control-input" id="{{applicant.id}}">
                                        <label class="custom-control-label" for="{{applicant.id}}"></label>
                                      </div>
                                    </td>
                                    <th scope="col">{{applicant.first_name}} {{applicant.last_name}}</th>
                                    <td>{{applicant.passport_number}}</td>
                                    <td>{{applicant.dob}}</td>
                                    <td>{{applicant.subject.program_type}}</td>
                                    <td>{{applicant.subject.name}}</td>
                                    <td>
                                      {% if applicant.status == 'PENDING' %}
                                          <span class="badge badge-warning text-light">{{ applicant.status }}</span>
                                      {% elif applicant.status == 'PROCESSING' %}
                                          <span class="badge badge-primary text-light">{{ applicant.status }}</span>
                                      {% elif applicant.status == 'COMPLETE' %}
                                          <span class="badge badge-success text-light">{{ applicant.status }}</span>
                                      {% elif applicant.status == 'REJECT' %}
                                          <span class="badge badge-danger text-light">{{ applicant.status }}</span>
                                      {% endif %}
                                    </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            <button type="button" onclick="submitForm()" class="btn btn-dark btn-block text-light">Submit</button>
                        </form>
                      </div>
                      <div class="tab-pane fade" id="claimed" role="tabpanel" aria-labelledby="profile-tab"> 
                        <table class="table table-striped">
                          <thead>
                            <tr role="row">
                              <th class="text-dark">SL. No</th>
                              <th class="text-dark">Student ID</th>
                              <th class="text-dark">Student Name</th>
                              <th class="text-dark">Passport No</th>
                              <th class="text-dark">Course Name</th>
                              <th class="text-dark">Claimed Date</th>
                              <th class="text-dark">Status</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            {% for payment in claimed %}
                            {% if payment.status == 'Claimed' %}
                                <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{payment.applicant.application_id}}</td>
                                  <td>{{payment.applicant}}</td>
                                  <td>{{payment.applicant.passport_number}}</td>
                                  <td>
                                    <a href="{% url 'core:university_details' payment.applicant.subject.id %}">
                                      {{payment.applicant.subject.name}}
                                    </a>
                                  </td>
                                  <td>{{payment.updated_at}}</td>
                                  <td>{{payment.status}}</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="contact-tab"> 
                        <table class="table table-striped">
                          <thead>
                            <tr role="row">
                              <th class="text-dark">SL. No</th>
                              <th class="text-dark">Student ID</th>
                              <th class="text-dark">Student Name</th>
                              <th class="text-dark">Passport No</th>
                              <th class="text-dark">Course Name</th>
                              <th class="text-dark">Approved Date</th>
                              <th class="text-dark">Status</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            {% for payment in approved %}
                            {% if payment.status == 'Approved' %}
                                <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{payment.applicant.application_id}}</td>
                                  <td>{{payment.applicant}}</td>
                                  <td>{{payment.applicant.passport_number}}</td>
                                  <td>
                                    <a href="{% url 'core:university_details' payment.applicant.subject.id %}">
                                      {{payment.applicant.subject.name}}
                                    </a>
                                  </td>
                                  <td>{{payment.updated_at}}</td>
                                  <td>{{payment.status}}</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <div class="tab-pane fade" id="reject" role="tabpanel" aria-labelledby="contact-tab">
                        <table class="table table-striped">
                          <thead>
                            <tr role="row">
                              <th class="text-dark">SL. No</th>
                              <th class="text-dark">Student ID</th>
                              <th class="text-dark">Student Name</th>
                              <th class="text-dark">Passport No</th>
                              <th class="text-dark">Course Name</th>
                              <th class="text-dark">Paid Date</th>
                              <th class="text-dark">Status</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            {% for payment in reject %}
                            {% if payment.status == 'Reject' %}
                                <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{payment.applicant.application_id}}</td>
                                  <td>{{payment.applicant}}</td>
                                  <td>{{payment.applicant.passport_number}}</td>
                                  <td>
                                    <a href="{% url 'core:university_details' payment.applicant.subject.id %}">
                                      {{payment.applicant.subject.name}}
                                    </a>
                                  </td>
                                  <td>{{payment.updated_at}}</td>
                                  <td>{{payment.status}}</td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <div class="tab-pane fade" id="paid" role="tabpanel" aria-labelledby="contact-tab"> 
                        <table class="table table-striped">
                          <thead>
                            <tr role="row">
                              <th class="text-dark">SL. No</th>
                              <th class="text-dark">Student ID</th>
                              <th class="text-dark">Student Name</th>
                              <th class="text-dark">Passport No</th>
                              <th class="text-dark">Course Name</th>
                              <th class="text-dark">Paid Date</th>
                              <th class="text-dark">Status</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            {% for payment in paid %}
                            {% if payment.status == 'Paid' %}
                                <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{payment.applicant.application_id}}</td>
                                  <td>{{payment.applicant}}</td>
                                  <td>{{payment.applicant.passport_number}}</td>
                                  <td>
                                    <a href="{% url 'core:university_details' payment.applicant.subject.id %}">
                                      {{payment.applicant.subject.name}}
                                    </a>
                                  </td>
                                  <td>{{payment.updated_at}}</td>
                                  <td>{{payment.status}}</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>

</div>
{% elif user_type == 'Admin' %}
<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="mb-2 page-title">Payment Requests</h2>
        <div class="row my-4">
          <div class="col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <table class="table datatables table-responsive" id="dataTable-1">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Agent</th>
                      <th>Student Name</th>
                      <th>Passport Number</th>
                      <th>Date of Birth</th>
                      <th>Subject</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for payment in all_payment_requests %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{payment.user}}</td>
                      <td>{{payment.applicant}}</td>
                      <td>{{payment.applicant.passport_number}}</td>
                      <td>{{payment.applicant.dob}}</td>
                      <td>{{payment.applicant.subject.name}}</td>
                      <td>
                        <a href="{% url 'core:admin_manage_requests' payment.id %}">
                            <button class="btn btn-primary btn-sm">Manage Requests</button>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div> <!-- simple table -->
        </div> <!-- end section -->
      </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div>
{% endif %}

{% endblock %}


{% block script %}
<script>
  function submitForm() {
    var form = document.getElementById('applicationForm');
    console.log(form)
    form.submit()
  }
</script>
{% endblock %}