{% extends 'portal/assets/base.html' %}

{% block title %}Manage University{% endblock %}

{% load custom_filters %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="col-12 col-md-4">
      <h2 class="page-title">Search Program and Subjects</h2>
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-12 col-md-1-">
      <div class="card">
        <div class="card-body">
          <table class="table datatables" id="dataTable-1" >
            <thead>
              <tr role="row">
                <th>Subject</th>
                <th>University</th>
                <th>Program Type</th>
                <th>Total Fee</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for item in subjects %}
              <tr>
                <th scope="col">{{item.name}}</th>
                <th scope="col">{{item.university.name}}</th>
                <th scope="col">{{item.program_type}}</th>
                <th scope="col">
                  {% with item.fee_set.all as fees %}
                    {% if fees %}
                      {{ fees|get_total_fee_value }}
                    {% else %}
                      No fees available
                    {% endif %}
                  {% endwith %}
                </th>
                <td>
                  <a href="{% url 'core:program_details' item.id %}">
                    <button class="btn btn-primary btn-sm">Details</button>
                  </a>
                </td>
              </tr>
    
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div> 
  </div> 
</div>

{% endblock %}


{% block script %}
<!-- <script>
  $(document).ready(function () {
      if ($.fn.DataTable.isDataTable('#dataTable-1')) {
          $('#dataTable-1').DataTable().destroy();
      }

      $('#dataTable-1').DataTable({
          "columnDefs": [
              { "type": "num", "targets": 3 }
          ]
      });
  });
</script> -->

{% endblock %}